body {
    height: 100vh;
}

#app-container img {
    height: 80px;
}

.contacts-container {
    height: 400px;
    overflow-y: scroll;
}

.message-container {
    height: 400px;
    overflow-y: scroll;
}

.sent {
    background-color: greenyellow;
}

.received {
    background-color: aqua;
}