* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
}

:root {
    --fa-rotate-angle: 45deg;

    --light-main-back: #00a884;
    --light-sec-back: #dfe0dd;
    --light-main-chat: #d8d8d8;
    --light-sec-chat: #ffffff;
    --light-alert-back: #aae4ff;
    --light-chat-toggle: #eeeded;
    --light-message-sent: #d5f9ba;
    --light-message-received: #d1d1d1;

    --item-delete: #ffea00;
    --now-listening: #ff0000;
    --panel-toggle: #00ffff;

    --dark-main-back: #6b0174;
    --dark-sec-back: #4d4d4d;
    --dark-main-chat: #373737;
    --dark-sec-chat: #000000;
    --dark-alert-back: #196182;
    --dark-chat-toggle: #7f7f7f;
    --dark-message-sent: #9e00ac;
    --dark-message-received: #616161;
}

body {
    font-family: 'Poppins', sans-serif;;
    height: 100vh;
}



.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap
}
.dir-col {
    flex-direction: column;
}
.justify-ctr {
    justify-content: center;
}
.justify-sp-bw {
    justify-content: space-between;
}
.align-ctr {
    align-items: center;
}

.float-l {
    float: left;
    clear: left;
}
.float-r {
    float: right;
    clear: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-l {
    text-align: left;
}
.text-r {
    text-align: right;
}



.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}


.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}



.width-100 {
    width: 100%;
}
.rounded-circle {
    border-radius: 50%;
}
.block-heigth-40 {
    height: 40px;
}
.line-ht-14 {
    line-height: 14px;
}
.text-bold {
    font-weight: bold;
}
.font-sz-14 {
    font-size: 14px;
}
.font-sz-20 {
    font-size: 20px;
}
.font-sz-25 {
    font-size: 25px;
}
.pointer {
    cursor: pointer;
}



.app-body {
    height: 100vh;
    width: 100%;
    background: var(--light-main-back);
    background: linear-gradient(180deg, var(--light-main-back) 0%, var(--light-main-back) 25%, var(--light-sec-back) 25%);
}
.dark-body {
    background: var(--dark-main-back);
    background: linear-gradient(180deg, var(--dark-main-back) 0%, var(--dark-main-back) 25%, var(--dark-sec-back) 25%);
}

#app-container {
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

#user-container {
    width: 35%;
    height: 100%;
}
#message-container {
    width: 65%;
    height: 100%;
}



#user {
    height: 80px;
    position: relative;
}
#user img {
    height: 60px;
}
.add-contact {
    background-color: var(--panel-toggle);
    border-radius: 5px;
    right: 45px;
    top: 55px;
    position: absolute;
}
.add-contact button {
    background-color: rgb(255, 195, 85);
    border: 2px solid rgb(255, 166, 0);
    border-radius: 5px;
}
.add-contact button:hover {
    background-color: rgb(255, 209, 125);
}

.contacts-container {
    height: calc(100% - (80px + 40px + 50px));
    overflow-y: scroll;
}

#contact {
    border-top: 2px solid var(--light-main-chat);
}
#contact img {
    height: 80px;
}

.contact-content {
    position: relative;
}
.delete-contact {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--item-delete);
    color: #000000;
}

.message-preview {
    height: 28px;
    overflow: hidden;
}



#chat-info {
    height: 80px;
}
#chat-info img {
    height: 60px;
}

#input-section {
    height: 80px;
    position: relative;
}

.message-section {
    height: calc(100% - (80px + 80px));
    overflow-y: scroll;
    
}
.light-message-section {
    background-image: url(../img/light-whatsapp-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-message-section {
    background-image: url(../img/dark-whatsapp-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.message-content {
    padding: 15px;
    border-radius: 15px;
    max-width: 65%;
    position: relative;
}
.delete-message {
    position: absolute;
    top: 35px;
    right: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--item-delete);
    color: #000000;
}



.recording {
    color: var(--now-listening);
}

.emoji-container {
    position: absolute;
    bottom: 60px;
    left: 30px;
    width: 187px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--panel-toggle);
}



.light-user{
    background-color: var(--light-main-chat);
}
.light-main-chat {
    background-color: var(--light-main-chat);
}
.light-sec-chat {
    background-color: var(--light-sec-chat);
}
.light-alert-back {
    background-color: var(--light-alert-back);
}
.light-chat-toggle {
    background-color: var(--light-chat-toggle);
}
.light-sent {
    background-color: var(--light-message-sent);
}
.light-received {
    background-color: var(--light-message-received);
}


.dark-user{
    background-color: var(--dark-main-chat);
    color: #ffffff;
}
.dark-main-chat {
    background-color: var(--dark-main-chat);
    color: #ffffff;
}
.dark-sec-chat {
    background-color: var(--dark-sec-chat);
    color: #ffffff;
}
.dark-alert-back {
    background-color: var(--dark-alert-back);
}
.dark-chat-toggle {
    background-color: var(--dark-chat-toggle);
}
.dark-sent {
    background-color: var(--dark-message-sent);
}
.dark-received {
    background-color: var(--dark-message-received);
}